= form_for @member do |f|
  - if @member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@member.errors.count, "error")} prohibited this member from being saved:"
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :uname
    = f.text_field :uname
  .field
    = f.label :dob
    = f.datetime_select :dob
  .field
    = f.label :gender
    = f.text_field :gender
  .field
    = f.label :contact
    = f.number_field :contact
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :mpass
    = f.text_field :mpass
  .field
    = f.label :cmpass
    = f.text_field :cmpass
  .actions
    = f.submit 'Save'
